{% extends 'main/base.html' %}

{% block title %}Verify Your PESEL{% endblock %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Verify Your PESEL to Download Prescription</h2>

    <div class="card mb-4">
        <div class="card-header bg-primary text-white">
            <h4>Prescription for {{ prescription.patient}}</h4>
        </div>
        <div class="card-body">
            <p><strong>Medications:</strong> {{ prescription.medications }}</p>
            <p><strong>Date of Prescription:</strong> {{ prescription.created_at|date:"Y-m-d H:i" }}</p>

            <!-- Pesel form -->
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Verify PESEL</button>
            </form>
        </div>
    </div>

    <!-- Display success or error messages -->
    {% if messages %}
    <div class="alert alert-danger" role="alert">
        {% for message in messages %}
        <p>{{ message }}</p>
        {% endfor %}
    </div>
    {% endif %}
</div>
{% endblock %}
